@import url('https://fonts.googleapis.com/css?family=Oswald');

* {
    font-family: 'Oswald', sans-serif;
}

.banner {
    background-color: #98d88c;
    background: url('../img/banner.jpg');
    height: 100px;
    padding: 0 20px;
    background-size: contain;
}

fieldset {
    border: 1px solid #000;
    background-image: url('../img/cadre.png');
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
    min-height: 370px;
}

fieldset legend {
    border: 1px solid #000;
    padding: 5px 10px;
    font-size: 28px;
    margin-bottom: 40px;
}

fieldset form {
    width: 25%;
    margin: 0 auto;
}

ul li {
    border: 1px solid #aaa;
    color: #555;
    background: #fff;
    width: auto;
    text-align: center;
    display: inline-block;
    padding: 5px 0px 5px 30px;
    margin: 4px 10px;
    font-size: 20px;
}

ul li:hover .fa-times{
    opacity: 1;
    transition: all 0.4s;
}

.fa-times {
    padding: 0 9px 0 9px;
    color: #98d88c;
    opacity: 0;
}

.fa-times:hover {
    cursor: pointer;
}

.countdown {
    font-size: 100px !important;
}

#winner span {
    font-size: 80px;
}

footer {
    background-color: #98d88c;
    color: #fff;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-top: 40px;
}

footer a {
    color: #fff;
}

footer a:hover {
    text-decoration: none;
    color: #000000;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 100px; /* Margin bottom by footer height */
}

/* Override Bootstrap */
.btn-outline-success {
    color: #98d88c;
    border-color: #98d88c;
}

.btn-outline-success:hover {
    background-color: #98d88c;
    border-color: #98d88c;
}
